.about {
    box-sizing: border-box;
    margin-left: 1em;
    width: 50%;
    height: 65vh;
    border-width: 1vh 1px 1px 1px;
    border-style: solid;
    border-color: rgba(134, 95, 111, 0.879);
    background-color: rgba(187, 154, 169, 0.781);
    border-radius: 10%;
    min-height: 300px;
    min-width: 230px;
    font-weight:500;
    padding: 1.1em;
}

.about:hover {
    transition: 0.2s ease-in;
    background-color: rgba(187, 154, 169, 0.907);
    transform: scale(1.003);
}

